body {
    background-color: aliceblue;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

#frame {
    width: 1500px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
}

canvas {
    width: 500px;
    height: 200px;
    border-radius: 25px;
}
        
#musiccontrols {
    position: absolute;
    margin: 0;
    bottom:0;
    justify-content: center;
    align-items: center;
}
        
/*
#c1:hover{
    background-color: lightblue;
}
#c2:hover {
    background-color: lightblue;
}
#c3:hover {
    background-color: lightblue;
}
*/